<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Repos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(repos)}">
        <h2>Repo List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image URL</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="repo : ${repos}">
                <td th:text="${repo.id}"></td>
                <td th:text="${repo.name}"></td>
                <td th:text="${repo.repoUrl}"></td>
                <td><a th:href="${'/repo/show/' + repo.id}">View</a> </td>
                <td><a th:href="${'/repo/edit/' + repo.id}">Edit</a> </td>
                <td><a th:href="${'/repo/delete/' + repo.id}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/repo/new">New Repo</a>
        </div>
    </div>
</div>

</body>
</html>